{% include "job_seekerHead.html"%}
<div class="container-fluid" >
    <div class="row">
        <div class=" col-md-2">
        </div>
        <div class="col-md-3 mt-5">
            <h3>Qualifications Add Here</h3>
            <form action="add_qualifications_action" method="post">
                <div class="tab-content container-fluid mt-1">
                </div>
                <div id="job_seeker" class="container tab-pane "></div>
                <div class="md-3 mt-3">
                   <label for="year_of_passedOut">Year of passedOut</label>
                    <input type="text" name="year_of_passedOut" id="year_of_passedOut" class="form-control" placeholder="Enter Certification Title" required>
                </div>
                <div class="md-3 mt-3">
                   <label for="percentage">Percentage</label>
                    <input type="number" name="percentage"  id="percentage" class="form-control" placeholder="choose file" required>
                </div>
                <div class="md-3 mt-3 ">
                    <input type="submit" value="Add Qualification" class="btn btn-primary w-100">
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="mt-3">
            </div>
        </div>
    </div>
</div>